{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./app/components",
        "modules": "./app/redux/modules",
        "screens": "./app/screens",
      }
    }]
  ],
  "presets": ["react-native"],
  "sourceMaps": "inline"
}
